header h1 {
  margin-bottom: 20px;
}

header nav {
  margin-bottom: 20px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.contact-form div {
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.nav {
  display: flex;
  align-items: center;
}

.nav ul {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
}

.search-form div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  margin-left: 20px;
}

thead td {
  text-align: center;
}

table,
tr > * {
  border: 1px solid black;
}

.contact-detail ul {
  list-style: disc;
}
